{{#if addNewAnswer}}
  <div>
    <form>
      <div class="form-group">
        <label for="author">Your Name:</label>
        {{input value=author id="author"}}
      </div>

      <div class="formgroup">
        <label for="content">Answer:</label>
        {{input value=content id="content"}}
      </div>
      <button {{action 'saveAnswer'}}>Submit</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>I have an answer!</button>
{{/if}}
