<h2>The details {{model.author}} {{model.note}}</h2>
{{question-detail question=model}}

{{update-question question=model update="update"}}

{{question-detail rental=model}}

{{new-answer saveAnswer="saveAnswer" question=model}}
